.pd-con {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .pd-sp {
    // border: 1px solid red;
    width: 900px;
  }
}

.product-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  // border: 1px solid blue;

  .product-images {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    justify-content: center;
    align-items: center;

    img {
      width: 370px;
      height: 450px;
      object-fit: contain;
      margin-bottom: 5px;
    }

    .product-small-images {
      display: flex;
      justify-content: center;
      gap: 10px;

      img {
        width: 100px;
        height: 100px;
        border: 1px solid #dbd9d9;
        object-fit: scale-down;
      }
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 450px;
    // height: 100px;
    padding: 0;
    gap: 27px;
    // border: 1px solid blue;
    text-align: left;


    .hr {
      width: 100%;
      border-bottom: 0px solid #f3f3f3;
    }

    h3 {
      margin-top: 0;
    }

    .free {
      font-weight: bold;
    }

    .rate-review {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        color: #a0a0a0;
      }

      p:last-child {
        color: #379efa;
        font-weight: bold;
      }

      svg {
        font-size: 8pt;
        margin-right: 5px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 15px;

      p:first-child {
        font-size: 20pt;
        color: #f83f38;
      }

      p:last-child {
        font-size: 20pt;
        color: #b6b6b6;
        text-decoration: line-through;
      }
    }

    .stock {
      display: flex;
      align-items: center;
      gap: 20px;

      p:first-child {
        font-weight: bold;
      }
    }

    .category {
      display: flex;
      align-items: center;
      gap: 40px;

      p:first-child {
        font-weight: bold;
      }
    }

    .color {
      display: flex;
      align-items: center;


      p {
        font-weight: bold;
        margin-right: 20px;
      }

      .color {
        display: flex;
        align-items: center;
        margin: 20px 0;

        &-label {
          font-weight: bold;
          margin-right: 10px;
        }
      }

      input[type="radio"] {
        opacity: 0;
        position: absolute;

      }



      .color-option {
        position: relative;
        width: 35px;
        height: 35px;
        display: inline-block;
        margin: 0 5px;
      }

      .color-option span {
        position: absolute;
        width: 88%;
        height: 88%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
      }

      .color-option span:after {
        content: '';
        position: absolute;
        width: 70%;
        height: 70%;
        border-radius: 50%;


      }

      .color-option span.blue:after {
        background: #d75088;
      }

      .color-option span.red:after {
        background: #f83f38;
      }

      .color-option span.black:after {
        background: #171717;
      }

      .color-option span.white:after {
        background: #b6b6b6;
      }

      .color-option span.peach:after {
        background: #ca9b97;
      }

      .color-option input[type="radio"]:checked~.blue {
        border: 2px solid #d75088;
      }

      .color-option input[type="radio"]:checked~.red {
        border: 2px solid #f83f38;
      }

      .color-option input[type="radio"]:checked~.black {
        border: 2px solid #171717;
      }

      .color-option input[type="radio"]:checked~.white {
        border: 2px solid #b6b6b6;
      }

      .color-option input[type="radio"]:checked~.peach {
        border: 2px solid #ca9b97;
      }

    }

    .size {
      display: flex;
      align-items: center;
      gap: 80px;

      select {
        height: 30px;
        width: 100px;
        border: 1px solid #b6b6b6;
        border-radius: 3px;
        background: transparent;
      }

      p {
        font-weight: bold;
      }
    }

    .btn-option {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;

      .btn-counter {
        display: flex;
        align-items: center;

        input {
          width: 35px;
          height: 35px;
          border: none;
          font-size: 13pt;
          text-align: center;
          background: #f6f7f8;

          &:focus {
            outline: none;
          }

        }

        button {
          border: none;
          width: 35px;
          height: 35px;
          color: #379efa;
          background: #f6f7f8;
          font-weight: bolder;
          font-size: 9pt;

          &:focus {
            outline: none;
          }
        }
      }

      .btn-add-heart {
        display: flex;
        align-items: center;
        gap: 10px;
        
       
        button:first-child {
          padding: 17px 18px;
          border: none;
          display: flex;
          align-items: center;
          gap: 10px;
          background: #eaf5fe;
          color: #379efa;
          font-weight: bold;

          svg {
            color: #379efa;
          }

          &:hover {
            background: #0e970e;
            color: white;

            svg{
              color: white;
            }
          }
          &:focus{
            outline: none;

          }
        }

        button:last-child {
          padding: 17px 18px;
          border: none;
          background: #eaf5fe;

          svg {
            color: #379efa;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

}

.socialmedia {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;

  &--facebook {
    border: none;
    background-color: #385c8e;
    color: white;
    padding: 15px 60px;
    margin-right: 10px;
    font-weight: bolder;
    border-radius: 3px;

    svg {
      color: whites;
      margin-right: 10px;
    }
  }

  &--twitter {
    border: none;
    background-color: #44aaf4;
    color: white;
    padding: 15px 60px;
    font-weight: bolder;
    border-radius: 3px;

    svg {
      color: whites;
      margin-right: 10px;
    }
  }
}

.productInformation {
  width: 100%;
  background-color: #fafafb;
  padding: 30px;

  &-menu {
    display: flex;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin-right: 40px;
      position: relative;

      &:hover:after {
        content: '';
        position: absolute;
        bottom: -23px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #2e90e5;
      }

    }
  }

  &-p {
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
  }
}

.pd-ad {
  display: flex;
  flex-direction: column;
  //  border: 1px solid blue;
  align-items: center;
  padding-left: 20px;
}

.items-right-bestSeller {
  margin: 0 auto;

  &-h4 {
    color: #adadad;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
  }
}

.items-right-slides {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &-button {
    width: 30px;
    height: 4px;
    background-color: #d3d3d3;
    border: none;
    margin: 0 3px;

    &:hover,
    :active {
      background-color: #44aaf4;
    }
  }
}

.items-right-ads {
  margin: 60px auto;
  width: 240px;
  padding: 30px;
  background-color: #c1c8ce;
  text-align: left;

  &--h2 {
    font-weight: bolder;
  }

  &--p {
    font-size: 10pt;
    letter-spacing: 1.2;
    margin: 20px 0;
  }

  &--price {
    font-size: 20pt;
    margin-bottom: 30px;
  }
}

.related-products {
  margin: 130px 0;

  &-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;

  }
}
button:hover{
  cursor: pointer;

}