.pd-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pd-left{
    // border: 1px solid red;
    width: 300px;
    padding: 0;
    // text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pd{
    background: #f5f5f5;
    padding: 30px;
    border-radius: 3px;
}
.pd-title{
    text-align: left;
    letter-spacing: 1px;
    font-size: 13pt;
}
.pd-li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: bold;
    font-size: 10pt;
    letter-spacing: 1px;
    color: #2c2c2c;

    &:hover{
      color: #1f8be4;
      cursor: pointer;
    }
}
.pd-right{
    // border: 1px solid blue;
    width: 870px;
    padding: 0;

    .pd-banner{
        width: 100%;
        background: #1f8be4;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 90px;
        border-radius: 3px;

        .pd-btext{
            color: #f5f5f5;
            text-align: left;

            .pd-p{
                margin: 30px 0;
                width: 300px;
            }
        }
        img{
            width: 300px;
        }
    }
    .pd-links{
        width: 100%;
        padding: 10px 10px;
        background: #f5f5f5;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        border-radius: 3px;
        align-items: center;

        .links-opt{
            display: flex;
            // border: 1px solid red;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .sel{
                border: 1px solid #e7e7e7;
                width: 100px;
                padding: 5px;
                background: transparent;
                margin-left: 20px;
            }
        }
        .links-btn{
          color: #b6b6b6;
          // border: 1px solid red;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20pt;

          .menugrid-svg:hover{
            color: #1f8be4;
          }
          .menu-svg:hover{
            color: #1f8be4;
          }
        }
        
    }
    .pd-hot{
      position: relative;

      &::after {
        content: "HOT";
        position: absolute;
        background-color: #FD2E2E;
        padding: 5px;
        left: 10px;
        top: 10px;
        font-weight: bolder;
        font-size: 8pt;
        letter-spacing: 1px;
        color: white;
    }
    }
    .pd-productlist{

        .boxes{
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
            margin-bottom: 20px;
            width: fit-content;
            // border: 1px solid red;

            .img{
                border: 1px solid #cccccc;
                padding: 47px 10px;

                img{
                    height: 130px;
                    width: 170px;
                    object-fit: contain;
                }

                .img-pd{
                  position: relative;
                  // border: 1px solid red;
                  height: 140px;

                  &:hover .img-overlay{
                    cursor: pointer;
                    opacity: 95%;
                  }
                  .img-overlay{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s ease;
                    background-color: white;
                    gap: 42px;
                    // border: 1px solid red;
        
                    svg{
                        color: #0891bb;
                        opacity: 1;
                    }
                  }
                }
            }
            .pd-content{
                // border: 1px solid green;
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

                .content-h3{
                  letter-spacing: 1px;
                }
                .small-details{
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  font-size: 10pt;


                  .reviews{
                    color: #b6b6b6;
                  }
                  .subReviews{
                    color: #33A0FF;
                    font-weight: bold;
                    letter-spacing: 1px;

                    &:hover{
                      cursor: pointer;
                      color: #000;
                    }
                  }
                  .pd-star{
                    
                    svg {
                      font-size: 8pt;
                      margin-right: 5px;
                    }
                  }
                }
                .price{
                    display: flex;
                    gap: 20px;
                    font-size: 15pt;

                    p:first-child {
                        // font-size: 20pt;
                        color: #f83f38;
                      }
                
                      p:last-child {
                        // font-size: 20pt;
                        color: #b6b6b6;
                        text-decoration: line-through;
                      }
                }
                .pd-btn{
                    display: flex;
                    gap: 20px;

                    .btn{
                        padding: 12px 20px;
                        border: none;
                        color: #379efa;
                        background: #eaf5fe;
                        border-radius: 3px;
                        font-size: 12pt;

                        svg{
                          color: #379efa;
                        }
                        &:hover, &:focus{
                          cursor: pointer;
                          outline: none;
                        }

                    }
                    .btn:first-child{
                      
                      svg{
                        margin-right: 10px;
                      }
                    }
                }
            }
        }
       
    }

}
.pd-numbers{
  background-color: #fbf9f9;
  width: 100%;
  display: flex;
  justify-content: center;
  margin:30px 0;

  span{
      text-decoration: none;
      color: #04042e;
      margin: 0 8px;
      padding: 15px 23px;
      font-weight: bolder;

      &:hover{
          color: white;
          background-color: #04042e;
          cursor: pointer;
      }
  }
}
.pd-hr{
  border-bottom: 1px solid #f6f7f8;
  width: 100%;
  opacity: 0.3;
  margin-bottom: 20px;
}
.pd-range{
    margin-top: 20px;
    width: 100%;
}
.pd-more{
  margin-top: 20px;
  background: #f5f5f5;
    padding: 30px;
    border-radius: 3px;
}
.pd-btn{
    border: none;
    font-weight: bold;
    letter-spacing: 1px;

    &:focus, &:hover{
      cursor: pointer;
        outline: none;
    }
}
.color {
    display: flex;
    align-items: center;
    margin: 20px 0 0;

    &-label {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  input[type="radio"] {
    opacity: 0;
    position: absolute;

  }



  .color-option {
    position: relative;
    width: 35px;
    height: 30px;
    display: inline-block;
    margin: 0 5px;

    &:hover{
      cursor: pointer;
    }
  }

  .color-option span {
    position: absolute;
    width: 88%;
    height: 88%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
  }

  .color-option span:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;


  }

  .color-option span.fusch:after {
    background: #d75088;
  }

  .color-option span.red:after {
    background: #f83f38;
  }

  .color-option span.black:after {
    background: #171717;
  }

  .color-option span.white:after {
    background: #b6b6b6;
  }

  .color-option span.peach:after {
    background: #ca9b97;
  }
  .color-option span.yellow:after {
    background: #f6de02;
  }

  .color-option input[type="radio"]:checked~.fusch {
    border: 2px solid #d75088;
  }

  .color-option input[type="radio"]:checked~.red {
    border: 2px solid #f83f38;
  }

  .color-option input[type="radio"]:checked~.black {
    border: 2px solid #171717;
  }

  .color-option input[type="radio"]:checked~.white {
    border: 2px solid #b6b6b6;
  }

  .color-option input[type="radio"]:checked~.peach {
    border: 2px solid #ca9b97;
  }
  .color-option input[type="radio"]:checked~.yellow {
    border: 2px solid #f6de02;
  }
  .click{
    text-decoration: none;
    color: #171717;
  }