
.latestnews{
    margin: 20px 0;

    h2{
        margin-bottom: 30px;
    }
    .latest-container{
        display: flex;
        justify-content: center;
        gap: 90px;
    
        .box{
            // border: 1px solid blue;
            display: flex;
            width: 300px;
            gap: 10px;
    
            .box-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                gap: 10px;
            }
            p:first-child{
                color:#858282;
            }
            img{
                width: 100px;
            }
        }
    }
}
