.newsletter{
    display:flex;
    justify-content: center;
    &__background{
        position:fixed;
        height:100%;
        width:100%;
        z-index:2;
        /* The image used */
        background-color:black;
        opacity:50%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__popup{
        box-shadow: 5px 5px 18px;
        margin-top: 20vh;
        position: fixed;
        background-color: white;
        z-index: 3;
        width: 48rem;
        height: 23rem;
        display: flex;
        border-radius: 10px;
        .close{
            position: absolute;
            right:-18px;
            top:-18px;
            height:47px;
            width: 47px;
            border-radius: 25px;
            background-color: #22262A;
            outline: none;
            border:none;
            svg{
                color:grey;
                font-size:15px;
            }
        }
        &--content{
            justify-content: center;
            flex: 6 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-gap: 3rem;
            gap: 1rem;
            padding: 4em;
            h1{
                font-size:28px;
                color:#22262A;
            }
            span{
                text-align: center;
                font-size:13px;
                line-height:1.6;
            }
            form{
                margin-top:5vh;
                display:flex;
                input[type=text],button{
                    padding:15px 30px;
                    border:1px solid #F1F3F4;
                    outline:none;
                }
                button{
                    color:white;
                    background-color: #33A0FF;
                }
            }
            #checkbox-form{
                display:flex;
                gap:.8rem;
                justify-content: center;
                align-items: center;

                input[type=checkbox]{
                    width:15px;
                    height: 15px;
                }
                label{
                    font-size: 10pt;
                }
            }
        }
        &--img{
            flex:6;
            img{
                height:100%;
                width: 100%;
            }
        }
    }
}
.newsletter__popup .close:hover{
    background: black;
}