.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.selection select {
  border: none;
  background: transparent;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account .acc-p {
  color: #adaeaf;
}

.account .acc-search {
  color: #000;
}

.account .acc-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.title {
  text-align: center;
  margin: 60px;
}

.title .tech {
  color: red;
}

.active {
  text-decoration: none;
  color: #000;
}

.nav-links .nav-burger {
  display: none;
}

.nav-links .navul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.nav-links .navul .ul-li {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 10pt;
}

.nav-links .navul .ul-li:hover {
  color: #4cbcfd;
}

.nav-links .navul .home {
  position: relative;
}

.nav-links .navul .home .home-togler .input {
  display: none;
}

.nav-links .navul .home .dropdown {
  visibility: collapse;
  position: absolute;
  top: 20px;
  left: -250px;
  background-color: #ffffff;
  border-top: 1px solid #e7e6e6;
  width: 1180px;
  height: 350px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.nav-links .navul .home .dropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 267px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #e7e6e6;
}

.nav-links .navul .home .dropdown::after {
  content: '';
  background-color: transparent;
  width: 70px;
  height: 18px;
  top: -13px;
  left: 235px;
  position: absolute;
}

.nav-links .navul .home .dropdown .dr-li {
  margin: 30px 45px;
  font-weight: normal;
  color: #000;
  list-style-type: none;
  text-align: left;
}

.nav-links .navul .home .dropdown .dr-li:hover {
  color: #4cbcfd;
}

.nav-links .navul .home .dropdown .dr-ul:nth-child(2) {
  margin-top: -36px;
}

.nav-links .navul .home .dropdown .dr-ul:nth-child(4) {
  margin-top: -83px;
}

.nav-links .navul .home .dropdown .dr-ul:nth-child(5) {
  margin-top: -90px;
}

.nav-links .navul .home .dropdown .lititle {
  color: #c1c8ce;
  font-size: 14pt;
  list-style-type: none;
  text-align: left;
  margin-left: 46px;
}

.nav-links .ul-li:hover .dropdown, .dropdown:hover {
  visibility: visible;
}
/*# sourceMappingURL=Header.css.map */