
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.bg-images {
  background-image: url("../../raw-images/logbg.jpg");
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: center;
  position: relative;
}

.bg-images::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #353535);
}

.content-container {
  width: 1200px;
  display: flex;
          justify-content: center;
          align-items: center;
  padding: 30px 0;
  z-index: 1;
}

.raku-title {
          flex: 1;
  text-align: left;
}

.raku-title--rak {
  font-size: 25pt;
  font-weight: bold;
  color: white;
}

.raku-title--tech {
  color: #f83f37;
  font-weight: bold;
}

.raku-description {
  color: white;
  letter-spacing: 1px;
}

.raku-hr {
  border-bottom: 4px solid #b32d2d;
  width: 66px;
  margin: 10px 0;
}

.logform {
  background-color: white;
  width: 330px;
  height: 629px;
  border-radius: 10px;
  padding: 0 20px;
}

.s-apple {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  display: flex;
          justify-content: center;
          align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  font-size: 9pt;
}

.s-apple svg {
  font-size: 15pt;
}

.social-buttons {
  margin: 20px 0;
  display: flex;
  flex-direction:column;
  gap: 15px;
}

.s-fb {
  background-color: #3a5998;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
          justify-content: center;
          align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  font-size: 9pt;
}

.s-fb svg {
  font-size: 15pt;
}

.s-fb:focus {
  outline: none;
}

.email {
  text-align: left;
  display: block;
}

.input-email {
  border: 1px solid gray;
  background-color: transparent;
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 40px;
}

.input-password {
  border: 1px solid gray;
  background-color: transparent;
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 13pt;
}

.pass {
  display: block;
  margin-top: 10px;
  text-align: left;
}

.signin {
  background-color: #f83f37;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 15px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin: 20px 0;
  font-size: 9pt;
}

.signin:focus {
  outline: none;
}

.signTitle {
  font-weight: bolder;
  font-size: 22pt;
  text-align: center;
  margin-top: 60px;
}

.agree {
  width: 274px;
  text-align: center;
  font-size: 9pt;
  margin: 15px 0;
}

.policy {
  display: block;
}

.createAcc {
  color: #b32d2d;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.dacc {
  text-align: center;
  font-size: 9pt;
  display: flex;
  gap: 5px;
          justify-content: center;
}

.or {
  text-align: center;
  position: relative;
  margin: 30px 0;
}

.or::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: gray;
  width: 123px;
  top: 6px;
  right: 0;
}

.or::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: gray;
  width: 123px;
  top: 6px;
  left: 0;
}