<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<section class="bg-images">

    <div class="content-container">

        <div class="raku-title">
            <span class="raku-title--rak">RAKU<span class="raku-title--tech">TECH</span></span>
            <hr class="raku-hr">
            <p class="raku-description">Browse from over 500 devices in your area.</p>
        </div>

        <div class="logform">
            <p class="signTitle">Sign In</p>

            <div class="social-buttons">
                <button class="s-apple"> SIGN IN WITH APPLE</button>
                <button class="s-fb"> SIGN IN WITH FACEBOOK</button>
            </div>

            <p class="or">OR</p>

            <form action="">
                <label class="email">Email</label>
                <input type="text" class="input-email" />
                <label  class="pass">Password</label>
                <input type="password" class="input-password" />
            </form>

            <button class="signin">SIGN IN</button>

            <p class="agree">By continuing, you agree to accept our
                <span class="policy">Privacy Policy & Terms of Service.</span>
            </p>
            <div class="dacc">Don't have an account? <span class="createAcc">Create new account</span></div>
        </div>

    </div>
</section>

</body>
</html>