.mid-banner{
    width: 100%;
    height: 420px;
    background: #2e90e5;
    margin: 130px 0;
}
.md-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .md-text{
        text-align: left;
        color: #fff;
        // border: 1px solid red;
        margin-top: -100px;
        
        
        .md-p{
            margin: 50px 0;
            font-size: 15pt;
            width: 340px;
        }
        .md-shop{
            border-bottom: 3px solid transparent;
            width: 84px;
            padding-bottom: 5px;

            &:hover{
                border-bottom: 3px solid #fff;
                cursor: pointer;
            }
        }
    }
    .mid-image{
        position: relative;
        width: 550px;
        height: 500px;
        overflow: hidden;
        top: -100px;

        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}