.banner{
    width: 100%;
    height: 550px;
    background: linear-gradient(69deg, rgba(222,35,83,1) 8%, rgba(252,3,188,1) 54%, rgba(106,40,186,1) 96%);
    // border: 1px solid blue;
    // position: relative;
    margin: 0 0 120px 0;

    .banner-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;

        .text{
            text-align: left;
            // border: 1px solid white;
            width: 430px;
            padding: 0 0 80px 0;
            color: white;

            .ban-title{
                font-size: 35pt;
            }
            .lorem{
                margin: 50px 0;
                line-height: 1.6;
            }
            .tp-more{
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
                width: 45px;

                &:hover{
                    border-bottom: 3px solid #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .mini-banner{
        display: flex;
        // position: absolute;
        // top: 453px;
        // left: 16%;
        margin-top: -210px;
        justify-content: center;

        .first-mini-banner{
            background: #f38282;
            width: 340px;
            height: 250px;
            overflow: hidden;
            position: relative;

               img{
                width: 240px;
                margin: 33px 120px;
               }
               .first-text{
                   position: absolute;
            text-align: left;
            padding: 30px 0 0 26px;
            width: 241px;
            color: #fff;

            .lorem{
                margin: 20px 0;
                line-height: 1.6;
            }
            .price{
                font-weight: bold;
                font-size: 18pt;
            }
            }
        }
        .mid-mini-banner{
            background: #eeeeee;
            width: 340px;
            height: 250px;

            .mid-text{
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                font-size: 18pt;
                padding: 0 20px;
            }
            img{
                height: 200px;
                width: 300px;
                object-fit: cover;
            }
        } 
        .last-mini-banner{
            background: #909090;
            width: 340px;
            height: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .last-text{
                text-align: left;
                
                .lorem{
                    line-height: 1.6;
                    margin: 20px 0;
                    font-size: 10pt;
                }
                .price{
                    font-weight: bold;
                    font-size: 18pt;
                }
            }
            img{
                width: 160px;
                object-fit: contain;
            }
        }
    }
}