.banner {
  width: 100%;
  height: 550px;
  background: linear-gradient(69deg, #de2353 8%, #fc03bc 54%, #6a28ba 96%);
  margin: 0 0 120px 0;
}

.banner .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.banner .banner-content .text {
  text-align: left;
  width: 430px;
  padding: 0 0 80px 0;
  color: white;
}

.banner .banner-content .text .ban-title {
  font-size: 35pt;
}

.banner .banner-content .text .lorem {
  margin: 50px 0;
  line-height: 1.6;
}

.banner .banner-content .text .tp-more {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  width: 45px;
}

.banner .banner-content .text .tp-more:hover {
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.banner .mini-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -210px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .mini-banner .first-mini-banner {
  background: #f38282;
  width: 340px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.banner .mini-banner .first-mini-banner img {
  width: 240px;
  margin: 33px 120px;
}

.banner .mini-banner .first-mini-banner .first-text {
  position: absolute;
  text-align: left;
  padding: 30px 0 0 26px;
  width: 241px;
  color: #fff;
}

.banner .mini-banner .first-mini-banner .first-text .lorem {
  margin: 20px 0;
  line-height: 1.6;
}

.banner .mini-banner .first-mini-banner .first-text .price {
  font-weight: bold;
  font-size: 18pt;
}

.banner .mini-banner .mid-mini-banner {
  background: #eeeeee;
  width: 340px;
  height: 250px;
}

.banner .mini-banner .mid-mini-banner .mid-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 18pt;
  padding: 0 20px;
}

.banner .mini-banner .mid-mini-banner img {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .mini-banner .last-mini-banner {
  background: #909090;
  width: 340px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.banner .mini-banner .last-mini-banner .last-text {
  text-align: left;
}

.banner .mini-banner .last-mini-banner .last-text .lorem {
  line-height: 1.6;
  margin: 20px 0;
  font-size: 10pt;
}

.banner .mini-banner .last-mini-banner .last-text .price {
  font-weight: bold;
  font-size: 18pt;
}

.banner .mini-banner .last-mini-banner img {
  width: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=TopBanner.css.map */