.bg-images{
    background-image: url('../../raw-images/logbg.jpg');
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(53, 53, 53));
    }
}
.content-container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    z-index: 1;
}
.raku-title{
flex: 1;
text-align: left;
// border: 1px solid red;
}
.raku-title--rak{
    font-size: 25pt;
    font-weight: bold;
    color: white;
}
.raku-title--tech{
    color: #f83f37;
    font-weight: bold;
}
.raku-description{
    color: white;
    letter-spacing: 1px;
}
.raku-hr{
    border-bottom: 4px solid #b32d2d;
    width: 66px;
    margin: 10px 0;
}

.signupTitle{
    font-weight: bolder;
    font-size: 20pt;
    text-align: center;
    margin-top: 80px;
}
.alacc{
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.signingup{
    background-color: #f83f37;
    color: white;
    border-radius: 5px; 
    width: 100%;
    padding: 15px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin: 20px 0;
    font-size: 9pt;

    &:focus{
        outline: none;
    }
}
.login{
    font-weight: bold;
    text-decoration: none;
    color: #223975;
}
.in-email{
    border: 1px solid lightgray;
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    margin-top:5px;
    margin-bottom: 10px;
    height: 40px;

}
.in-password{
    border: 1px solid lightgray ;
    background-color: transparent;
    width: 100%;
    padding: 8px 40px 8px 10px;
    margin-top:5px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 13pt;
}

.conpass{
    position: relative;
    
    .pass-svg{
        position: absolute;
        top:34px;
        right: 11px;
        cursor: pointer;

        &:hover{
            cursor: pointer;
        }
    }
}

.check{
    margin: 10px 10px 10px 0;
    width: 20px;
    height: 20px;
}
.ccon{
    display: flex;
    align-items: center;

}

.agreed{
    width:274px;
    text-align: center;
    font-size: 9pt;

    // border: 1px solid red;
}
.red{
    &:focus{
outline: 1px solid red;
    }
}
.green{
    &:focus{
        outline: 1px solid green;

    }
}